.container .second {
    padding : 5px;
}
h1 {
    text-align: center;
}

.text {
    border: 1px solid #8080807d;
    padding: 10px;
    width: 96%;
    min-width: 97%;
    max-width: 97%;
    padding-top: 17px;
    border-radius: 5px;
    margin-top: 30px;
}

.text-title {
    background-color: #111;
    color: white;
    line-height: 20px;
    position: absolute;
    margin-top: -34px;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #8080807d;
}