body {
    overflow: hidden;
}
.container .second {
    padding: 5px;
}
.container .second h1 {
    text-align: center;
}

.container .second img {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}